[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
urllib3 = "*"
mechanicalsoup = "*"
pandas = "*"
numpy = "*"
pypdf2 = "*"
speechrecognition = "*"
webscraping = "*"

[dev-packages]

[requires]
python_version = "3.11"
